*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    padding: 0;
}

.wrapper
{
    display: flex;

    height: 100vh;

    background: white;

    justify-content: center;
    align-items: center;
}

.wrapper > .header
{
    width: 100%;
    padding: 100px;

    perspective: 3000px;
}

.wrapper > .header > .banner
{
    font-size: 50px;

    display: flex;

    height: 50vh;

    cursor: pointer;
    -webkit-user-select: none;
        -ms-user-select: none;
    transition: transform ease-in-out;
    transform: translateZ(-100px);

    color: white;
    border-radius: 8px;
    background: #444;
    box-shadow: 0 0 10px 2px rgba(68, 68, 68, .8);

    justify-content: center;
    align-items: center;
    moz-user-select: none;
}
