body {
    transition: color .5s;
    font-size: 14px;
    font-weight: 400;
    /*background: rgba(50,58,69,.9);*/
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1700px;
}

.main-wrapper {
    margin: 0 auto;
    width: 80%;
    max-width: 1700px;
}
@media (min-width:1601px) and (max-width: 1700px) {
    .main-wrapper {
        width: 83%;
        min-width: 1600px;
    }
}
@media (min-width:1501px) and (max-width: 1600px) {
    .main-wrapper {
        width: 86%;
        min-width: 1500px;
    }
}
@media (min-width:1401px) and (max-width: 1500px) {
    .main-wrapper {
        width: 90%;
        min-width: 1400px;
    }
}
@media (min-width:1301px) and (max-width: 1400px) {
    .main-wrapper {
        width: 94%;
        min-width: 1300px;
    }
}
@media (min-width:1201px) and (max-width: 1300px) {
    .main-wrapper {
        width: 96%;
        min-width: 1200px;
    }
}
@media (max-width: 1200px) {
    .main-wrapper {
        width: 100%;
    }
}

.mhover:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2), 0 5px 5px 0 rgba(0, 0, 0, .24);
    z-index: 7;
}

span.ori {
    position: absolute;
}

.js-dot,
.js-return {
    position: relative;
}

.js-dot::after {
    content: "·";
    opacity: .4;
    pointer-events: none;
    position: absolute;
}  /*    left: 50%;
    top: 46%;*/
    /*transform: translate(-50%,-50%);*/

.js-return::after {
    content: "¬";
    opacity: .4;
    pointer-events: none;
    position: absolute;
}


/* header-container */

.header-container {
    background: rgb(66, 133, 244);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}

.header-container .title {
    float: left;
    margin: 0 10px;
    opacity: 0;
    letter-spacing: .25px;
    height: 64px;
    line-height: 64px;
    vertical-align: bottom;
}

.header-container nav {
    float: right;
    text-transform: uppercase;
    vertical-align: bottom;
}

.header-container nav ul li {
    float: left;
    padding: 0 5px;
    height: 64px;
    line-height: 64px;
    position: relative;
}

@media (max-width: 800px) {
    .header-container .wrapper{
        width: 94%;
    }
    .header-container .title {
        height: 50px;
        line-height: 50px;
        float: none;
        margin: 0 5px;
    }
    .header-container nav {
        float: none;
        display: block;
    }
    .header-container nav ul li {
        height: 50px;
        line-height: 50px;
    }
}

.header-container nav ul li a {
    display: block;
    font-weight: 700;
}

.header-container nav ul li a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    background: rgba(255, 255, 255, .6);
    position: absolute;
    bottom: 0px;
    left: 0;
}

.header-container nav ul li a:hover::after {
    width: 100%;
}
.header-container nav ul li a.nav-active::after {
    width: 100%;
    background: rgba(255, 255, 255, 1);
}


/* end header-container */

.header-container .title,
.header-fade>.header-fade-text {
    transition: opacity .9s;
}


/* header-fade */

.header-fade {
    background: rgb(66, 133, 244);
    height: 256px;
    box-shadow: 0 1px 5px 1px hsla(0, 0%, 0%, .6);
    z-index: 8;
    position: relative;
}

.header-fade .header-fade-text {
    font-size: 56px;
    color: white;
    position: relative;
    top: 120px;
    padding-left: 10px;
    -moz-user-select: none;
    user-select: none;
    cursor: default;
}


/* end header-fade */


/* swipper */

.swiper-container {
    height: 600px;
    background: #000;
}

.swiper-container .parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.swiper-container .swiper-wrapper .swiper-slide {
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 60px 80px;
    display: flex;
    flex-direction: column;
}


/*.swiper-container .swiper-wrapper .swiper-slide .title {
    font-size: 30px;
}*/

.swiper-container .swiper-wrapper .swiper-slide .subtitle {
    font-family: Roboto, sans-serif;
}

.swiper-container .swiper-wrapper .swiper-slide .text {
    font-family: Roboto, sans-serif;
    max-width: 400px;
    line-height: 1.3;
}


/* end swipper */


/*article*/

.articles-container ul {
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.articles-container ul>li.article-container {
    width: 50%;
}

.articles-container ul>li.article-container:nth-child(3n) {
    width: 100%;
}

@media (max-width: 790px) {
    .articles-container ul>li.article-container {
        width: 100%;
    }
}

li.article-container>.article-link {
    display: block;
    position: relative;
    height: 0;
    padding-bottom: 100%;
}

li.article-container:nth-child(3n)>.article-link {
    padding-bottom: 50%;
}
@media (max-width: 790px) {
    li.article-container:nth-child(3n)>.article-link{
        padding-bottom: 100%;
    }
}

li.article-container>.article-link>.article-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-position: center center;
    background-size: cover;
    background-image:url("http://placehold.it/800x800/4285F4/fff?text=Loading...");
    z-index: 1;
}

li.article-container>.article-link>.article-info {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: transparent;
    z-index: 3;
}

li.article-container>.article-link>.article-info>div {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 28px 32px;
}

li.article-container>.article-link>.article-info>.article-head {
    top: 0;
}

li.article-container>.article-link>.article-info>.article-foot {
    bottom: 0;
}

li.article-container>.article-link>.article-info>.article-foot .article-goto {
    width: 12px;
    height: 12px;
    border-top: 1px solid white;
    border-right: 1px solid white;
    transform: rotate(45deg) translate(2px, 2px);
    float: right;
}

@media (max-width:550px),(min-width:790px) and (max-width:1140px){
    li.article-container>.article-link{
        color: white;
    }
    li.article-container>.article-link::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .2);
        pointer-events: none;
        z-index: 2;
    }
}

.article4,
.article5 {
    color: black;
}

.article5 {
    background-color: #ffff00;
}

.article6 {
    background-color: #6646EC;
}

.article7 {
    background-color: #212121;
}


/*article end*/


/*foot*/

.footer-container>.footer-sep {
    margin-bottom: 200px;
}

.footer-container>.footer-wrapper {
    height: 200px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.footer-container>.footer-wrapper>.foot-logo {
    background: #323a45;
    height: 100%;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    color: #fff;
    font-size: 40px;
}
.footer-container>.footer-wrapper>.footer-info{
    position: relative;
}
.footer-container>.footer-wrapper>.footer-info>.footer-info-author {
    position: absolute;
    bottom: 10px;
    right: 30px;
    color: #fff;
    font-size: 16px;
}
.footer-container>.footer-wrapper>.footer-info a:hover{
    color:#3E67AD;
}
.footer-container>.footer-wrapper>.footer-info a:hover .js-return::after {
    color:#fff;
}

/*foot ent*/
.gototop{
    position: fixed;
    right: -1px;
    bottom: 120px;
    width: 42px;
    height: 42px;
    border-left: 1px solid #679edc;
    transition: all .5s ease-in-out;
    cursor: pointer;
    transform: translateX(42px);
    background-position: -93.2px -244px;
    background-color: #fff;
    background-image: url('http://omh8xg82p.bkt.clouddn.com/17-5-9/72735444-file_1494322720322_15d12.png');
    z-index: 20;
}
.gototop:hover{
    background-color: #679edc;
    background-position: -93.2px -286px;
}